
* {
  box-sizing: border-box;
}
h1 {
	font-family: 'Roboto Condensed', sans-serif;
  color: white;
  opacity: .8;
}
body {
  background-image: url("../img/breakup.jpg");
  background-size: 100%;
  background-repeat:no-repeat;
	font-family: 'Montserrat', sans-serif;
	padding:15px;
	padding-left: 0px;
  font-size: 15px;
  color:black;
}
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 25%;
  background-color: black;
}

.right {
  width: 75%;
  background-color: white;
    opacity: .6;

}
