
* {
  box-sizing: border-box;
}
h1 {
	font-family: 'Shadows Into Light Two', sans-serif;
  text-align: center;
  border-style: solid;
  padding: 20px;
  font-size: 40px;
  background-color: #EA5959;
  background-position: center;
}
h2 {
  padding:0px;
}
body {
	font-family: 'Just Me Again Down Here', cursive;
  font-size: 28px;
  background-image: url("../img/love.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
	padding: 60px;
  padding-top: 0px;

}
.keyword {
  background-color: slateblue;
}
.topic {
    font-family: 'Shadows Into Light Two', sans-serif;
  color: black;
}
nav {
  text-align: center;
}