
h1 {
	font-family: 'Major Mono Display', monospace;
  text-align: center;
  border-style: solid;
  padding: 20px;
  background-color: #EA5959;
  background-position: center;
}
h2 {
  font-family:'Major Mono Display', monospace;
  background-color: white;
  opacity: .8;
}
img {
  height: 130px;
  width: 300px;
}
body {
	font-family: 'Cedarville Cursive', cursive;
  font-size: 20px;
	padding:15px;


}