
h1 {
	font-family: 'Major Mono Display', monospace;
  text-align: center;
  background-position: center;
  color:pink;
}
h2 {
  font-family:'Major Mono Display', monospace;
  opacity: .8;
  color: white;
}
img {
  height: 150px;
  width: 150px;
}
body {
	font-family: 'Raleway', sans-serif;
  font-size: 17px;
	padding: 30px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: black;
  color: white;

}
.column {
  float: left;
  text-align: center;
  width: 33.33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.keyword {
  color: hotpink;
}
h3 {
  font-family:'Major Mono Display', monospace;
  font-size: 27px;
  color:mediumvioletred;
}